---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<Layout title="Portfolio">
	<main class="bg-gradient-to-r from-blue-300 via-blue-500 to-purple-300 min-h-screen grid place-content-center">
		<h1 class="italic text-9xl/2 text-gray-500">Hi there!</h1>
	</main>
</Layout>

