---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import About from '../components/sections/About.astro';
import Experience from '../components/sections/Experience.astro';
import Education from '../components/sections/Education.astro';
import Hero from '../components/sections/Hero.astro';
import Projects from '../components/sections/Projects.astro';
import Skills from '../components/sections/Skills.astro';

import KeyboardManager from '../components/KeyboardManager.astro';

import Bubbles from '../components/Bubbles.astro';
---

<Layout title="Portfolio">
	<!-- <main class="bg-gradient-to-r from-blue-200 via-blue-300 to-purple-300 min-h-screen flex flex-col items-center justify-center">
		<h1 class="italic text-9xl font-bold">Hi there!</h1>
		<div class="image size-96 bg-[url('https://bloodyelbow.com/wp-content/uploads/1/2024/07/GettyImages-1435626922-1140x801.jpg')] bg-origin-padding border-2 border-solid border-slate-800 bg-center bg-cover shadow-2xl"></div>
	</main> -->
	<main class="relative p-16 w-full mx-auto bg-gradient-to-br from-slate-50 via-slate-100 to-slate-50">
		<Bubbles />
		<!--  -->
		<Hero />
		<About />
		<Education />
		<Experience />
		<Skills />
		<Projects />
	</main>

	<KeyboardManager />
</Layout>

