---
import Layout from "../layouts/Layout.astro";
import AstroBuild from "../assets/svg/media/AstroBuild.astro";

// Componentes
import About from "../components/sections/About.astro";
import Experience from "../components/sections/Experience.astro";
import Education from "../components/sections/Education.astro";
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Projects.astro";
import Skills from "../components/sections/Skills.astro";

import KeyboardManager from "../components/KeyboardManager.astro";

//
import Bubbles from "../components/Bubbles.astro";
import Theme from "../components/Theme.astro";
---

<Layout title="Portfolio">
  <main
    class="relative p-16 w-full mx-auto bg-gradient-to-br from-slate-50 via-slate-200 to-slate-50 dark:bg-slate-950/90 group/theme"
  >
    <Theme />
    <Bubbles />

    <!--  -->

    <Hero />
    <About />

    <Education />
    <Experience />
    <Skills />
    <Projects />
  </main>

  <footer
    class="bottom-0 w-screen h-[250px] flex flex-row justify-center items-center bg-slate-900/90 border-t-2 border-teal-200"
  >
    <AstroBuild />
  </footer>

  <KeyboardManager />
</Layout>

<style>
  main {
    background-image: linear-gradient(
        to bottom,
        rgba(26, 20, 20, 0.073) 1px,
        transparent 1px
      ),
      linear-gradient(to right, rgba(26, 20, 20, 0.073) 1px, transparent 1px);
    background-size: 16px 16px;
  }
</style>
