---
const { title } = Astro.props

const randomRotation = (Math.random() - .5) * 720
---

<section class="relative max-w-xl lg:max-w-3xl m-[0_auto_64px] w-full">

    <div
        class="absolute inset-0 scale-125 rounded-full blur-[160px] bg-gradient-to-br from-purple-700/75 dark:from-emerald-500/55 to-indigo-500/75 -z-10" style=`transform: rotate(${randomRotation});`
    ></div>
    {
        title &&
        <h2
            class="mb-3 text-xl font-semibold tracking-wider [text-shadow:_0_4px_20px_rgb(158_67_204_/_70%)] dark:text-white"
        >
            {title}
        </h2>
    }
    <slot class="relative z-50 dark:text-slate-300" />
</section>