---
const { title } = Astro.props
---

<section class="relative max-w-xl lg:max-w-3xl m-[0_auto_64px] w-full">
    <!-- bg-gradient-to-r from-gray-200 via-slate-200 to-gray-200  -->
    { title && <h2 class="mb-3 text-xl font-semibold tracking-wider [text-shadow:_0_4px_20px_rgb(158_67_204_/_70%)]">{title}</h2> }
    <slot />
</section>