---
const { title } = Astro.props;
---
<section class="border-2 shadow-lg border-slate-200 hover:outline-2 hover:outline-dashed hover:outline-offset-2 hover:outline-white flex flex-row justify-between rounded-lg p-6 min-w-[1000px]">
    
    <div class="flex flex-col justify-between">
        <h2 class="bg-clip-text text-white text-xl">
            <!-- text-transparent bg-gradient-to-r from-slate-400 to-violet-400 -->
            {title}
        </h2>
        <figure class="relative h-24">
            <img src="https://www.superherotoystore.com/cdn/shop/articles/e33c2fa94c03efa06678116f80d62d0d_708x.jpg?v=1590599656" class="blob bg-cover bg-center" alt="...">
            <img src="https://www.superherotoystore.com/cdn/shop/articles/e33c2fa94c03efa06678116f80d62d0d_708x.jpg?v=1590599656" class="blob transition bg-cover bg-center hidden absolute" alt="">
        </figure>
    </div>

    <div class="flex flex-row gap-1 items-center flex-wrap flex-initial w-full justify-center min-w-4xl mx-auto">
        <slot />
    </div>
</section>