---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="Daniel Rguez Espinosa">
		<meta name="description" content="My flabbergastingly outlandish CV!" />
		<!-- <meta name="preview" content=""> -->
		<meta name="viewport" content="width=device-width , initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Portfolio - CV">
		<meta name="twitter:description" content="Un portfolio minimalista; por ahora.">
		<meta name="twitter:image" content="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2023/08/goku-super-saiyan-4-goku-ultra-instinto-batalla-siglo-ha-estallado-nuevo-capitulo-anime-dragon-ball-tenemos-ganador-oficial-3116826.jpg?tf=3840x">

		<meta property="og:site_name" content="Portfolio - CV">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://cv-drespns.vercel.app">
		<meta property="og:title" content="Portfolio - CV">
		<meta property="og:description" content="Un portfolio minimalista; por ahora.">
		<meta property="og:image" content="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2023/08/goku-super-saiyan-4-goku-ultra-instinto-batalla-siglo-ha-estallado-nuevo-capitulo-anime-dragon-ball-tenemos-ganador-oficial-3116826.jpg?tf=3840x">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> -->
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	*,
	*::after,
	**::before {
		box-sizing: border-box;
	}
	html {
		width: 100%;
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
		background: #eee;

		letter-spacing: -0.025rem;
	}

	img {
		clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	}
	div.image {
		clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
	}

	a {
		text-decoration: none;

		/* &:hover { // NOTE: parece no funcionar en Astro...
			text-decoration: wavy;
			text-decoration-color: #0369a1;
		} */
	}
	a:hover {
		text-decoration: wavy;
		text-decoration-color: #0369a1;
	}
	
	ul { list-style: none; }

	h1, h2, h3, h4 {
		font-family: 'Space Mono';
	}

	p {
		font-size: 1.2rem;
		color: #888;
		line-height: 1.5;
		text-wrap: pretty;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
